﻿@if (Actions is not null)
{
    <div class="action-container">
        @foreach (var action in Actions)
        {
            <button title="@action.Name" class="action" disabled="@(!action.Active)" @onclick="action.OnClick" @onclick:stopPropagation="true">@action.Icon</button>
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<UiAction>? Actions { get; set; }
}