﻿button {
    padding: 5px 15px;
    font-size: 14px;
    color: var(--btn-txt);
    background-color: var(--btn-bg);
    border-radius: 2px;
}

button:hover {
    color: var(--btn-txt-hover);
    background-color: var(--btn-bg-hover);
}

button:active {
    color: var(--btn-txt-active);
    background-color: var(--btn-bg-active);
}

button:disabled {
    color: var(--btn-txt-disabled);
    background-color: var(--btn-bg-disabled);
}