﻿@implements IDisposable
@implements IAsyncDisposable

@inject ContextMenuService ContextMenuService
@inject IJSRuntime JsRuntime

<div @ref="_container" class="container">
    @if (_actions is not null && _actions.Length > 0)
    {
        <div class="context-menu">
            @foreach (var action in _actions)
            {
                if (action.Name == "separator")
                {
                    <hr/>
                }
                else
                {
                    <button class="action" disabled="@(!action.Active)" @onclick="action.OnClick">
                        @action.Icon
                        @action.Name
                    </button>
                }
            }
        </div>
    }
</div>

@code {
    private ElementReference _container;
    private IJSObjectReference? _jsModule;
    private UiAction[]? _actions;

    protected override void OnInitialized()
    {
        ContextMenuService.Opened += OnOpened;
        ContextMenuService.Closed += OnClosed;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", $"./Components/{nameof(ContextMenuProvider)}.razor.js");
        await _jsModule.InvokeVoidAsync("setup", DotNetObjectReference.Create(this));
    }

    private async void OnOpened(object? sender, ContextMenuService.ContextMenuArgs args)
    {
        if (_jsModule is null) return;

        _actions = args.Actions.ToArray();

        await InvokeAsync(StateHasChanged);
        await _jsModule.InvokeVoidAsync("open", _container, args.Reference);
    }

    private async void OnClosed(object? sender, EventArgs args)
    {
        if (_actions is null || _jsModule is null) return;

        _actions = null;

        await InvokeAsync(StateHasChanged);
        await _jsModule.InvokeVoidAsync("close");
    }

    [JSInvokable]
    public async void OnClose()
    {
        _actions = null;
        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        ContextMenuService.Opened -= OnOpened;
        ContextMenuService.Closed -= OnClosed;
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsModule is not null)
        {
            await _jsModule.DisposeAsync();
        }
    }
}