﻿.wrapper {
    display: flex;
    flex-direction: column;
}

.file {
    display: flex;
    align-items: center;
    position: relative;
    padding: 2px 6px;
    color: var(--panel-item-txt);
    cursor: pointer;
}

.file:hover {
    color: var(--panel-item-txt-hover);
}

.file:active,
.file.selected {
    color: var(--panel-item-txt-active);
}

.file.disabled {
    color: var(--panel-item-txt-disabled);
    pointer-events: none;
}

.file:hover::before,
.file.selected::before {
    content: '';
    position: absolute;
    left: -100%;
    width: 200%;
    height: 100%;
    z-index: 0;
}

.file:hover::before {
    background-color: var(--panel-item-bg-hover);
}

.file:active::before,
.file.selected::before {
    background-color: var(--panel-item-bg-active);
}

.file > * {
    z-index: 1;
}

.toggle {
    flex-shrink: 0;
    width: 1em;
    margin-right: 1px;
    line-height: 0;
}

.icon {
    flex-shrink: 0;
    margin-right: 5px;
    line-height: 0;
}

.toggle ::deep svg,
.icon ::deep svg {
    height: 1em;
    width: 1em;
    stroke-width: 1.5px;
}

.label {
    flex-grow: 1;
    margin-right: auto;
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.file.modified:not(.disabled) .label {
    color: var(--panel-item-txt-modified);
}

.hint {
    flex-shrink: 0;
    height: 8px;
    width: 8px;
    margin-left: 5px;
    background-color: var(--panel-item-txt-modified);
    border-radius: 99px;
}

.file.disabled .hint {
    background-color: var(--panel-item-txt-disabled);
}

.file:hover ::deep .action-container {
    margin-left: 5px;
    font-size: 14px;
    z-index: 1;
}

.file:not(:hover) ::deep .action-container {
    display: none;
}

.child-files {
    display: flex;
    flex-direction: column;
    padding-left: 0.5em;
}

.child-files.collapsed {
    display: none;
}

.child-files .message {
    padding: 2px 6px 2px 22px;
    line-height: 18px;
    font-size: 14px;
    text-align: left;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--panel-item-txt-disabled);
    overflow: hidden;
}