﻿@implements IDisposable

@inject ContextMenuService ContextMenuService

<div class="wrapper">
    <div @ref="_element" title="@File.FilePath" class="file@(File.Equals(FileListService.SelectedFile) ? " selected" : "") @(File.IsModified ? "modified" : "")" @onclick="OnHeaderClick" @oncontextmenu="OnHeaderContextClick">
        <div class="toggle">@(File.IsContainer ? _collapsed ? Icons.ChevronRight : Icons.ChevronDown : new MarkupString())</div>
        @if (FileIconProvider is not null)
        {
            <div class="icon">@FileIconProvider(File)</div>
        }
        <span class="label">@File.Name</span>
        <ActionList Actions="FileActionProvider?.Invoke(File)" />
        @if (File.IsModified)
        {
            <span title="File Has Unsaved Changes" class="hint"></span>
        }
    </div>
    @if (!_collapsed && File.IsContainer)
    {
        <div class="child-files">
            @if (File.Children.Count > 0)
            {
                @foreach (var file in File.Children.OrderBy(f => f, Comparer))
                {
                    <FileListItem File="file" />
                }
            }
            else if (!File.IsInitialized)
            {
                <div class="message">Loading...</div>
            }
            else
            {
                <div class="message">No content</div>
            }
        </div>
    }
</div>

@code {
    private static readonly FileList.FileComparer Comparer = new();
    private ElementReference _element;
    private FileData? _file = null;
    private bool _collapsed = true;

    [CascadingParameter]
    public FileListService FileListService { get; set; } = default!;

    [CascadingParameter]
    public Func<FileData, MarkupString>? FileIconProvider { get; set; }

    [CascadingParameter(Name = "FileActionProvider")]
    public Func<FileData, IEnumerable<UiAction>>? FileActionProvider { get; set; }

    [CascadingParameter(Name = "FileContextActionProvider")]
    public Func<FileData, IEnumerable<UiAction>>? FileContextActionProvider { get; set; }

    [Parameter, EditorRequired]
    public FileData File
    {
        get => _file!;
        set
        {
            if (_file == value) return;
            if (_file is not null) _file.Modified -= OnFileModified;
            if (_file?.FilePath != value.FilePath) _collapsed = true;
            _file = value;
            _file.Modified += OnFileModified;
        }
    }

    private void OnFileModified(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    private void OnHeaderClick()
    {
        _collapsed = !_collapsed;
        FileListService.Select(File);
    }

    private void OnHeaderContextClick()
    {
        if (FileContextActionProvider is null) return;
        ContextMenuService.Open(_element, FileContextActionProvider(File));
    }

    public void Dispose()
    {
        if (_file is null) return;
        _file.Modified -= OnFileModified;
    }
}