﻿@implements IDisposable

<CascadingValue Value="FileListService" IsFixed="true">
    <CascadingValue Value="FileIconProvider" IsFixed="true">
        <CascadingValue Value="FileActionProvider" IsFixed="true" Name="FileActionProvider">
            <CascadingValue Value="FileContextActionProvider" IsFixed="true" Name="FileContextActionProvider">
                @foreach (var file in FileListService.Files.OrderBy(f => f, Comparer))
                {
                    <FileListItem File="file" />
                }
            </CascadingValue>
        </CascadingValue>
    </CascadingValue>
</CascadingValue>

@code {
    private static readonly FileComparer Comparer = new();

    [Parameter, EditorRequired]
    public FileListService FileListService { get; set; } = default!;

    [Parameter]
    public Func<FileData, MarkupString>? FileIconProvider { get; set; }

    [Parameter]
    public Func<FileData, IEnumerable<UiAction>>? FileActionProvider { get; set; }

    [Parameter]
    public Func<FileData, IEnumerable<UiAction>>? FileContextActionProvider { get; set; }

    protected override void OnInitialized()
    {
        FileListService.FilesChanged += OnFilesChanged;
        FileListService.SelectionChanged += OnSelectionChanged;
    }

    private void OnFilesChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    private void OnSelectionChanged(object? sender, FileData? file) => InvokeAsync(StateHasChanged);

    public void Dispose()
    {
        FileListService.FilesChanged -= OnFilesChanged;
        FileListService.SelectionChanged -= OnSelectionChanged;
    }

    internal class FileComparer : IComparer<FileData>
    {
        public int Compare(FileData? x, FileData? y)
        {
            if (y is null) return -1;
            if (x is null) return 1;

            if (x.Type == "folder" && y.Type != "folder") return -1;
            if (x.Type != "folder" && y.Type == "folder") return 1;
            return string.Compare(x.Name, y.Name, StringComparison.Ordinal);
        }
    }
}