﻿@implements IDisposable

@inject FunctionMapFileListService FunctionMapFileListService

@if (_functionMapFile?.Model is not null)
{
    <div class="container">
        @foreach (var info in _functionMapFile.Model.OrderBy(f => f, Comparer))
        {
            var collapsed = GetToggleState(info);
            <div class="function">
                <button class="header" @onclick="() => ToggleState(info)">
                    <span class="toggle">@(collapsed ? Icons.ChevronRight : Icons.ChevronDown)</span>
                    <span class="label">@info.Name</span>
                </button>
                @if (!collapsed)
                {
                    <div class="content">
                        @if (!string.IsNullOrEmpty(info.Description))
                        {
                            <div class="description">@info.Description</div>
                        }
                        <div class="info">Group: <b>@info.Group</b></div>
                        @if (info.TypeMap is null)
                        {
                            <div class="info">Type: <b>@(info.IsDiscardType ? "(any)" : info.TypeRange > 0 ? info.Type + "–" + info.TypeRange : info.Type)</b></div>
                        }
                        else
                        {
                            <div class="info">Mapped Types:</div>
                            <div class="list">
                                @foreach (var val in info.TypeMap)
                                {
                                    <div class="item">
                                        <div class="info">@val.Value @Icons.ArrowLeftRight <b>@val.Name</b></div>
                                        @if (!string.IsNullOrEmpty(val.Description))
                                        {
                                            <div class="description indent">@val.Description</div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                        @if (info.Args.Length > 0)
                        {
                            <div class="info">Arguments:</div>
                            <div class="list">
                                @foreach (var arg in info.Args)
                                {
                                    <div class="item">
                                        @if (arg.IsDiscard || arg.IsPadding)
                                        {
                                            <div class="info disabled">padding (@arg.DataType.Name)</div>
                                        }
                                        else
                                        {
                                            <div class="info"><b>@arg.Name</b> (@arg.DataType.Name@(arg.ArrayLength > 0 ? $"[{arg.ArrayLength}]" : ""))</div>
                                        }
                                        @if (!string.IsNullOrEmpty(arg.Description))
                                        {
                                            <div class="description indent">@arg.Description</div>
                                        }
                                        @if (arg.ValueMap is not null)
                                        {
                                            <div class="info indent">Mapped Values:</div>
                                            <div class="list indent">
                                                @foreach (var val in arg.ValueMap)
                                                {
                                                    <div class="item">
                                                        <div class="info">@val.Value @Icons.ArrowLeftRight <b>@val.Name</b></div>
                                                        @if (!string.IsNullOrEmpty(val.Description))
                                                        {
                                                            <div class="description">@val.Description</div>
                                                        }
                                                    </div>
                                                }
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </div>
                }
            </div>
        }
    </div>
}

@code {
    private static readonly FunctionComparer Comparer = new();
    private readonly Dictionary<FunctionInfo, bool> _toggleMap = [];
    private const bool DefaultToggleState = true;
    private FunctionMapFileData? _functionMapFile;

    protected override void OnInitialized()
    {
        SetMap(FunctionMapFileListService.SelectedFile as FunctionMapFileData);
        FunctionMapFileListService.SelectionChanged += OnFunctionMapFileChanged;
    }

    private void OnFunctionMapFileChanged(object? sender, FileData? file)
    {
        SetMap(file as FunctionMapFileData);
        InvokeAsync(StateHasChanged);
    }

    private void OnFunctionMapModified(object? sender, EventArgs args)
    {
        if (sender is not FunctionMapFileData file || file.IsModified) return;
        InvokeAsync(StateHasChanged);
    }

    private void SetMap(FunctionMapFileData? file)
    {
        if (_functionMapFile is not null) _functionMapFile.Modified -= OnFunctionMapModified;

        _functionMapFile = file;
        _toggleMap.Clear();

        if (file is not null) file.Modified += OnFunctionMapModified;
    }

    private bool GetToggleState(FunctionInfo info)
    {
        if (_toggleMap.TryGetValue(info, out var value)) return value;

        _toggleMap.Add(info, DefaultToggleState);
        return DefaultToggleState;
    }

    private void ToggleState(FunctionInfo info)
    {
        if (_toggleMap.TryGetValue(info, out var value)) _toggleMap[info] = !value;
        else _toggleMap.Add(info, !DefaultToggleState);
    }

    public void Dispose()
    {
        FunctionMapFileListService.SelectionChanged -= OnFunctionMapFileChanged;
        if (_functionMapFile is not null) _functionMapFile.Modified -= OnFunctionMapModified;
    }

    internal class FunctionComparer : IComparer<FunctionInfo>
    {
        public int Compare(FunctionInfo? x, FunctionInfo? y)
        {
            if (y is null) return -1;
            if (x is null) return 1;

            if (x.Group != y.Group) return x.Group.CompareTo(y.Group);

            if (x.IsDiscardType) return 1;
            if (y.IsDiscardType) return -1;

            if (x.TypeMap is not null) return 1;
            if (y.TypeMap is not null) return -1;

            return x.Type.CompareTo(y.Type);
        }
    }
}