﻿@implements IDisposable

@inject AppStateService AppStateService
@inject BrowserFileListService BrowserFileListService
@inject FunctionMapFileListService FunctionMapFileListService
@inject EditorService EditorService

<div class="focus-container" @onclick="AppStateService.OnFocus">
    @if (_loading)
    {
        <div class="loading"><div></div></div>
    }
    @if (BrowserFileListService.Count == 0)
    {
        <div class="no-files">
            <p>Open a MSBT file to start editing</p>
            <Button OnClick="AppStateService.LoadFiles">Open Files</Button>
        </div>
    }
    <SplitContainer SnapOffset="0">
        <SplitPanel Size="25" MinSize="100">
            <SplitContainer Vertical="true">
                <SplitPanel @ref="_browserPanel" Size="80" MinSize="22">
                    <ScrollContainer Header="Loaded Files" OnHeaderClick="() => _browserPanel.Toggle()">
                        <FileList FileListService="BrowserFileListService"
                                  FileIconProvider="GetBrowserFileIcon"
                                  FileActionProvider="GetBrowserFileActions"
                                  FileContextActionProvider="GetBrowserFileContextActions">
                        </FileList>
                    </ScrollContainer>
                </SplitPanel>
                <SplitPanel @ref="_functionMapPanel" Size="20" MinSize="22">
                    <div class="divider"></div>
                    <ScrollContainer Header="Function Maps" OnHeaderClick="() => _functionMapPanel.Toggle()" HeaderActions="_functionMapHeaderActions">
                        <FileList FileListService="FunctionMapFileListService"
                                  FileIconProvider="_ => Icons.FunctionMapFile"
                                  FileActionProvider="GetFunctionMapActions">
                        </FileList>
                    </ScrollContainer>
                </SplitPanel>
            </SplitContainer>
        </SplitPanel>
        <SplitPanel Size="50" MinSize="200">
            <MonacoEditor />
        </SplitPanel>
        <SplitPanel @ref="_glossaryPanel" Size="25" Collapsed="true">
            <ScrollContainer Header="Function Glossary" HeaderActions="_glossaryHeaderActions">
                <FunctionGlossary />
            </ScrollContainer>
        </SplitPanel>
    </SplitContainer>
    <ContextMenuProvider />
</div>

@code {
    private SplitPanel _browserPanel = default!;
    private SplitPanel _functionMapPanel = default!;
    private SplitPanel _glossaryPanel = default!;
    private IEnumerable<UiAction>? _functionMapHeaderActions;
    private IEnumerable<UiAction>? _glossaryHeaderActions;
    private bool _loading;

    protected override void OnInitialized()
    {
        _functionMapHeaderActions =
        [
            new UiAction
            {
                Name = "Create New Map",
                Icon = Icons.Add,
                OnClick = () => AppStateService.CreateFunctionMap()
            }
        ];

        _glossaryHeaderActions =
        [
            new UiAction
            {
                Name = "Close Glossary",
                Icon = Icons.Remove,
                OnClick = () => _glossaryPanel.Collapse()
            }
        ];

        AppStateService.Loading += OnLoading;
        AppStateService.GlossaryToggled += OnGlossaryToggled;
        BrowserFileListService.FilesChanged += OnFilesChanged;
    }

    private void OnLoading(object? sender, bool loading)
    {
        _loading = loading;
        InvokeAsync(StateHasChanged);
    }

    private async void OnGlossaryToggled(object? sender, EventArgs args) => await _glossaryPanel.Toggle();

    private void OnFilesChanged(object? sender, EventArgs args) => InvokeAsync(StateHasChanged);

    private static MarkupString GetBrowserFileIcon(FileData file) => file.Type.ToLowerInvariant() switch
    {
        "msbt"   => Icons.MsbtFile,
        "umsbt"  => Icons.UmsbtFile,
        "sarc"   => Icons.SarcFile,
        "bmg"    => Icons.BmgFile,
        "zip"    => Icons.ZipFile,
        "folder" => Icons.Folder,
        _        => Icons.UnknownFile
    };

    private IEnumerable<UiAction> GetBrowserFileActions(FileData file)
    {
        var actions = new List<UiAction>();

        if (file.IsModified && file.Type != "folder")
        {
            actions.Add(new UiAction
            {
                Name = "Save File",
                Icon = Icons.Save,
                OnClick = () => AppStateService.SaveFile(file)
            });
            actions.Add(new UiAction
            {
                Name = "Revert Changes",
                Icon = Icons.Undo,
                OnClick = () => AppStateService.RevertChanges(file)
            });
        }

        if (!file.IsVirtual)
        {
            actions.Add(new UiAction
            {
                Name = "Unload " + file.Type == "folder" ? "Folder" : "File",
                Icon = Icons.Remove,
                OnClick = async () =>
                {
                    await AppStateService.UnloadFile(file);
                    if (file.Parent is not null)
                    {
                        file.Parent.Children.Remove(file);
                        if (file.Parent.Children.Count == 0) await AppStateService.UnloadFile(file.Parent);
                    }
                    await InvokeAsync(StateHasChanged);
                }
            });
        }

        return actions;
    }

    private IEnumerable<UiAction> GetBrowserFileContextActions(FileData file)
    {
        var actions = new List<UiAction>();

        if (file.Type != "folder")
        {
            actions.Add(new UiAction
            {
                Name = "Save File",
                Icon = Icons.Save,
                Active = file.IsModified,
                OnClick = () => AppStateService.SaveFile(file)
            });
            actions.Add(new UiAction
            {
                Name = "Save Raw Data",
                Icon = Icons.Save,
                OnClick = () => AppStateService.SaveFileAs(file)
            });
            actions.Add(new UiAction
            {
                Name = "Revert Changes",
                Icon = Icons.Undo,
                Active = file.IsModified,
                OnClick = () => AppStateService.RevertChanges(file)
            });
        }

        if (!file.IsVirtual)
        {
            actions.Add(UiAction.Separator);
            actions.Add(new UiAction
            {
                Name = "Unload " + file.Type == "folder" ? "Folder" : "File",
                Icon = Icons.Remove,
                OnClick = () => AppStateService.UnloadFile(file)
            });
        }

        return actions;
    }

    private IEnumerable<UiAction> GetFunctionMapActions(FileData file)
    {
        if (file is not FunctionMapFileData functionMapFile) return [];

        var actions = new List<UiAction>();

        if (file.IsModified)
        {
            actions.Add(new UiAction
            {
                Name = "Save Map",
                Icon = Icons.Save,
                OnClick = () => AppStateService.SaveFile(file)
            });
            actions.Add(new UiAction
            {
                Name = "Revert Changes",
                Icon = Icons.Undo,
                OnClick = () => AppStateService.RevertChanges(file)
            });
        }

        actions.Add(new UiAction
        {
            Name = "Edit Map",
            Icon = Icons.Edit,
            OnClick = () => EditorService.Load(functionMapFile)
        });
        actions.Add(new UiAction
        {
            Name = "Delete Map",
            Icon = Icons.Delete,
            OnClick = () => AppStateService.DeleteFile(file)
        });
        actions.Add(new UiAction
        {
            Name = "Unload Map",
            Icon = Icons.Remove,
            OnClick = () => AppStateService.UnloadFile(file)
        });

        return actions;
    }

    public void Dispose()
    {
        AppStateService.Loading -= OnLoading;
        AppStateService.GlossaryToggled -= OnGlossaryToggled;
        BrowserFileListService.FilesChanged -= OnFilesChanged;
    }
}