﻿.focus-container {
    height: 100%;
    width: 100%;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 1000;
    cursor: wait;
}

.loading div {
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-color: var(--accent) transparent var(--accent) transparent;
    border-radius: 99px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to   { transform: rotate(360deg); }
}

.divider {
    display: block;
    position: relative;
    height: 1px;
    width: 100%;
    margin-bottom: -1px;
    border-top: 1px solid var(--panel-border);
    z-index: 1;
}

.file-list-button {
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.no-files {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 20px;
}