﻿@using BlazorMonaco
@using BlazorMonaco.Editor

@implements IDisposable

@inject EditorService EditorService
@inject AppStateService AppStateService
@inject IJSRuntime JsRuntime

<div class="container@(EditorService.ShowNewLine ? " show-new-line" : "")">
    @if (_file is not null)
    {
        <StandaloneCodeEditor @ref="_editor" ConstructionOptions="GetOptions" OnDidInit="OnEditorInit" OnDidChangeModelContent="OnContentChanged" />
    }
</div>

@code {
    private StandaloneCodeEditor _editor = default!;
    private EditorFileData? _file;
    private bool _initialized = false;

    protected override void OnInitialized()
    {
        EditorService.CurrentFileChanged += OnCurrentFileChanged;
        EditorService.WordWrapChanged += OnWordWrapChanged;
        EditorService.ShowNewLineChanged += OnShowNewLineChanged;
        EditorService.ShowWhitespaceChanged += OnShowWhitespaceChanged;
    }

    private StandaloneEditorConstructionOptions GetOptions(StandaloneCodeEditor editor) => new()
    {
        Theme = "msbt-editor",
        AutomaticLayout = true,
        DetectIndentation = false,
        InsertSpaces = true,
        WordWrap = EditorService.WordWrap ? "on" : "off",
        WrappingIndent = "indent",
        RenderWhitespace = EditorService.ShowWhitespace ? "all" : "selection",
        RenderControlCharacters = true
    };

    private async Task OnEditorInit()
    {
        _initialized = true;

        await _editor.AddAction(new ActionDescriptor
        {
            Id = "save-changes",
            Label = "Save Changes",
            ContextMenuOrder = 0,
            ContextMenuGroupId = "9_cutcopypaste",
            Keybindings = [(int) KeyMod.CtrlCmd | (int) KeyCode.KeyS],
            Run = editor =>
            {
                if (_file is null) return;
                _ = AppStateService.SaveFile(_file);
            }
        });

        OnCurrentFileChanged(this, EditorService.CurrentFile);
    }

    private async void OnCurrentFileChanged(object? sender, EditorFileData? file)
    {
        _file = file;
        await InvokeAsync(StateHasChanged);
        if (file is null || !_initialized) return;

        if (file.EditorModel is null)
        {
            file.EditorModel = await Global.CreateModel(JsRuntime, string.Empty, file.EditorLanguage, $"{file.Name}-{Guid.NewGuid()}");
            await EditorService.ContentLoader(file);
        }

        await _editor.SetModel(file.EditorModel);
    }

    private void OnContentChanged(ModelContentChangedEvent e)
    {
        if (_file is null) return;

        _file.IsModified = !e.IsFlush;
    }

    private void OnWordWrapChanged(object? sender, EventArgs args)
    {
        if (!_initialized) return;
        _editor.UpdateOptions(new EditorUpdateOptions {WordWrap = EditorService.WordWrap ? "on" : "off"});
    }

    private async void OnShowNewLineChanged(object? sender, EventArgs args) => await InvokeAsync(StateHasChanged);

    private void OnShowWhitespaceChanged(object? sender, EventArgs args)
    {
        if (!_initialized) return;
        _editor.UpdateOptions(new EditorUpdateOptions {RenderWhitespace = EditorService.ShowWhitespace ? "all" : "selection"});
    }

    public void Dispose()
    {
        EditorService.WordWrapChanged -= OnWordWrapChanged;
        EditorService.ShowNewLineChanged -= OnShowNewLineChanged;
        EditorService.ShowWhitespaceChanged -= OnShowWhitespaceChanged;
    }
}