﻿.container {
    height: 100%;
    width: 100%;
    background-color: var(--editor-bg);
}

.container.show-new-line ::deep .view-line > span::after {
    content: '\21a9';
    color: rgba(227, 228, 226, 0.16);
    margin-left: 4px;
}

::deep .monaco-editor-container {
	height: 100%;
}

::deep .monaco-editor-container * {
    line-height: unset;
}