﻿.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background-color: var(--panel-bg);
}

.header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    height: 22px;
    padding: 2px 6px;
    color: var(--panel-header-txt);
    background-color: var(--panel-header-bg);
}

.header .label {
    flex-grow: 1;
    margin-right: auto;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.container:hover .header ::deep .action-container {
    margin-left: 5px;
    font-size: 14px;
    z-index: 1;
}

.container:not(:hover) .header ::deep .action-container {
    display: none;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

.header + .content.scrolled::before {
    content: '';
    flex-shrink: 0;
    display: block;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    margin-top: -6px;
    box-shadow: #000000 0 6px 6px -6px inset;
    pointer-events: none;
    z-index: 10;
}