﻿@implements IAsyncDisposable

@inject IJSRuntime JsRuntime

<div @ref="_container" class="container@(_vertical ? " vertical" : "")">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    private ElementReference _container;
    private IJSObjectReference? _jsModule;
    private readonly List<SplitPanel> _panels = [];
    private bool _vertical;
    private int _instanceId = -1;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Vertical { get; set; }

    [Parameter]
    public int SnapOffset { get; set; } = 30;

    [Parameter]
    public int DragInterval { get; set; } = 1;

    protected override void OnInitialized() => _vertical = Vertical;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender) return;

        _jsModule = await JsRuntime.InvokeAsync<IJSObjectReference>("import", $"./Components/{nameof(SplitContainer)}.razor.js");
        _instanceId = await _jsModule.InvokeAsync<int>("setup", _container, new SplitOptions
        {
            Sizes = GetSizes(),
            MinSize = _panels.Select(p => p.MinSize).ToArray(),
            GutterSize = 0,
            SnapOffset = SnapOffset,
            DragInterval = DragInterval,
            Direction = Vertical ? "vertical" : "horizontal"
        });

        //collapse panels for initial state
        for (var i = 0; i < _panels.Count; ++i)
        {
            if (!_panels[i].Collapsed) continue;
            await _jsModule.InvokeVoidAsync("collapse", _instanceId, i);
        }
    }

    private double[] GetSizes()
    {
        var sizes = new double[_panels.Count];

        var total = 0;
        foreach (var panel in _panels)
        {
            if (panel.Size > 0) total += panel.Size;
        }

        for (var i = 0; i < sizes.Length; ++i)
        {
            var size = _panels[i].Size;
            if (size > 0) sizes[i] = size * 100.0 / total;
        }

        return sizes;
    }

    internal void AddPanel(SplitPanel panel) => _panels.Add(panel);

    internal async Task CollapsePanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null || _instanceId < 0) return;

        await _jsModule.InvokeVoidAsync("collapse", _instanceId, index);
    }

    internal async Task ExpandPanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null || _instanceId < 0) return;

        await _jsModule.InvokeVoidAsync("expand", _instanceId, index);
    }

    internal async Task TogglePanel(SplitPanel panel)
    {
        var index = _panels.IndexOf(panel);
        if (index < 0 || _jsModule is null || _instanceId < 0) return;

        await _jsModule.InvokeVoidAsync("toggle", _instanceId, index);
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsModule is not null)
        {
            await _jsModule.DisposeAsync();
        }
    }

    private class SplitOptions
    {
        public required double[] Sizes { get; set; }

        public required int[] MinSize { get; set; }

        public required int GutterSize { get; set; }

        public required int SnapOffset { get; set; }

        public required int DragInterval { get; set; }

        public required string Direction { get; set; }
    }
}