﻿<div class="panel">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [CascadingParameter]
    public SplitContainer Container { get; set; } = default!;

    [Parameter, EditorRequired]
    public int Size { get; set; }

    [Parameter]
    public int MinSize { get; set; }

    [Parameter]
    public bool Collapsed { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    protected override void OnInitialized() => Container.AddPanel(this);

    public Task Collapse() => Container.CollapsePanel(this);

    public Task Expand() => Container.ExpandPanel(this);

    public Task Toggle() => Container.TogglePanel(this);
}